*{
  font-family:fantasy, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}

header{
  text-align:center;
}

main{
  position:relative;
  left:42%;
}

.tile_row {
    float: left;
    width: 100%;
}

.tile {
    float: left;
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    margin: 1px;
    font-size:50pt;
    text-align:center;
    padding-top:10px
}

.tile:hover{
  background-color:#00ffee;
  cursor:pointer;
}